<div class="margin">

  <div>
    <div class="row">
      <div class="form-group col-md-4">
        <label for="id">ID</label>
        <input type="text" class="form-control" id="id" [(ngModel)]="mural.id" disabled>
      </div>
      <div class="form-group col-md-8">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Title" [(ngModel)]="mural.title">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" rows="3" [(ngModel)]="mural.description"></textarea>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="publish">Publish</label>
        <input type="date" class="form-control" id="publish" [(ngModel)]="mural.publish">
      </div>
      <div class="form-group col-md-6">
        <label for="visualization">Visualization</label>
        <input type="date" class="form-control" id="visualization" [(ngModel)]="mural.visualization">
      </div>
    </div>

    <div class="form-row">

      <div class="form-group col-md-6">
      </div>
      <div class="form-group col-md-6">
        <button class="button" type="submit" (click)="save()" class="btn btn-primary"
          style="float: right;">Purchase</button>
      </div>
    </div>
  </div>
  <div class="form-row paddingTable form-group">
    <div class="row col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Publish</th>
            <th scope="col">Visualization</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of listmural">
            <th scope="row">{{i.id}}</th>
            <td>{{i.title}}</td>
            <td>{{i.publish | date : "dd/MM/yyyy"}}</td>
            <td>{{i.visualization | date : "dd/MM/yyyy"}}</td>
            <td><i class="material-icons" style="font-size:24px;" (click)="visibility(i)">visibility</i></td>
            <td><i class="material-icons" style="font-size:24px;" (click)="remove(i)">delete</i></td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-12">
      <nav aria-label="Page navigation example" style="float: right;">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item" *ngFor="let page of page.arrayPages; index as i">
            <a class="page-link" (click)="pagination(i)">{{i + 1}}</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
    </div>
  </div>

</div>