<div class="margin">

  <div>
    <div class="row">
      <div class="form-group col-md-2">
        <label for="id">ID</label>
        <input type="text" class="form-control" id="id" [(ngModel)]="mural.id" disabled>
      </div>
      <div class="form-group col-md-10">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Title" [(ngModel)]="mural.title">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" rows="3" [(ngModel)]="mural.description"></textarea>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="publish">Publish</label>
        <input type="date" class="form-control" id="publish" [(ngModel)]="mural.publish">
      </div>
      <div class="form-group col-md-6">
        <label for="visualization">Visualization</label>
        <input type="date" class="form-control" id="visualization" [(ngModel)]="mural.visualization">
      </div>
    </div>

    <div class="form-row">

      <div class="form-group col-md-6">
      </div>
      <div class="form-group col-md-6">
        <button class="button" type="submit" (click)="save()" class="btn btn-primary"
          style="float: right;">Save</button>
      </div>
    </div>
  </div>
  <div class="form-row paddingTable">
    <div class="row col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">View</th>
            <th scope="col">Remove</th>
            <th scope="col">Viewed</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of listmural">
            <th scope="row">{{i.id}}</th>
            <td class="col-md-5">{{i.title}}</td>
            <td class="col-md-2">
              <i class="material-icons" data-toggle="tooltip" title="View warnings" (click)="visibility(i)">visibility</i>
            </td>
            <td class="col-md-2">
              <i class="material-icons" data-toggle="tooltip" title="Remove warnings" (click)="remove(i)">delete</i>
            </td>
            <td class="col-md-2">
              <i class="material-icons" style="font-size:24px;" *ngIf="i.status" data-toggle="tooltip" title="Warnings viewed">
                check_box
              </i>
              <i class="material-icons" style="font-size:24px;" *ngIf="!i.status" data-toggle="tooltip" title="warnings not viewed">
                check_box_outline_blank
              </i>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-12">
      <nav aria-label="Page navigation example" style="float: right;">
        <ul class="pagination">
          <li class="page-item" *ngFor="let page of page.arrayPages; index as i">
            <a class="page-link" (click)="data(i)">{{i + 1}}</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

</div>
